---
spring:
  application:
    name: @name@
  profiles: business-view-1
server:
  port: 8081
eureka:
  instance:
    instance-id: ${spring.application.name}:${server.port}
    hostname: localhost-1
    metadata-map:
      profile: test
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
    healthcheck:
      enabled: true
info:
  app.name: @name@
  jdk.version: @java.version@
  build.artifactId: @project.artifactId@
  build.version: @project.version@
management:
  endpoint:
    shutdown:
      enabled: true
    health:
      show-details: always
    hystrix:
      stream:
        enabled: true
  endpoints:
    web:
      exposure:
        include: "*"
feign:
  hystrix:
    enabled: true

---
spring:
  application:
    name: @name@
  profiles: business-view-2
server:
  port: 8081
eureka:
  instance:
    instance-id: ${spring.application.name}:${server.port}
    hostname: localhost-2
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
    healthcheck:
      enabled: true
info:
  app.name: @name@
  jdk.version: @java.version@
  build.artifactId: @project.artifactId@
  build.version: @project.version@
management:
  endpoint:
    shutdown:
      enabled: true
    health:
      show-details: always
  endpoints:
    web:
      exposure:
        include: "*"
feign:
  hystrix:
    enabled: true